<div class="row">
  <div class="col-xs-12 col-md-4">
    <% @developers.each do |developer| %>
    <!-- id="dev-<%= developer.id %>" -->
      <div class="dev">
        <div class="dev-bookmark">
          <% if user_signed_in?  %>
            <%= icon(current_user.bookmarked?(developer) ? "fas" : "far" , "bookmark") %>
          <% end %>
        </div>

        <div class="dev-avatar__name">
          <%= image_tag developer.avatar_url, class: "avatar-large avatar-bordered" %>
          <%#= image_tag avatar_url(developer) %>
          <div style="margin-left: 20px;">
            <div class="dev-name">
              <%= developer.full_name %>
              <%#= developer.first_name %>
            </div>

            <div class="dev-username">
            <%= link_to icon('fab', 'github', class: 'strong') %>
            <%= link_to developer.github_username, "https://github.com/#{developer.github_username}", target: "_blank" %>
            <!-- ,class: "dev-link" -->
            </div>
          </div>
        </div>

        <div class="dev-details">
          <div class="dev-row">
            Hourly Rate: <span class="dev-rate">€<%= developer.hourly_rate %></span>
          </div>

          <div class="dev-row">
            <!-- method in model -> uppercased without ..character -->
            <span class="dev-skills"><%= developer.skills_to_string %></span>
          </div>
        </div>

        <div class="dev-book text-center">
          <%= link_to "Hire", developer_path(developer), class: "btn btn-primary" %>
          <%#= link_to "Hire", developer_path(developer), class: "dev-profile-link" do %><%# end %>
        </div>

      </div>

    <% end %>
  </div>
</div>
